@use "@cocokits/theme-frames-x/tokens" as Tokens;

@import '../scss/mixins';

.app-host {
  background-color: Tokens.$colors-alpha-light-50;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100dvh;
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: column;
}