<button cck-button>Button</button>
<cck-checkbox class="title" >Setting Template Cocokits Nx</cck-checkbox>



<cck-form-field>
  <cck-label>Select amount</cck-label>
  <input
    cck-input
    (change)="onChange($event)"
    (focus)="onFocus()"
    (blur)="onBlur()"
    [value]="value()"
  />
  <cck-trailing>
    <cck-select value="USD" appendTo="body">
      <cck-option value="USD">USD</cck-option>
      <cck-option value="EUR">EUR</cck-option>
      <cck-option value="JPY">JPY</cck-option>
      <cck-option value="CNY">CNY</cck-option>
      <cck-option value="KRW">KRW</cck-option>
    </cck-select>
  </cck-trailing>
</cck-form-field>


<router-outlet></router-outlet>

