/* Minimal CSS Reset */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: rubik;
  font-style: normal;
}

html {
  scroll-behavior: smooth;
  width: 100%;
}

body {
  width: 100%;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
}

button {
  cursor: pointer;
  border: none;
  background: none;
}

input,
textarea {
  font: inherit;
  border: none;
  outline: none;
}